<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>hello how are you all .whats up i hooe you are doing well</h1>
    <button>know more about me</button>
     <h1>Welcome,  !</h1>   <!-- interpolation -->

    <button>good job</button>
    <button>you are great
        
    </button>

    <% for(let name of data) { %>
   <li><%= name %></li>
<% } %>



  

    
</body>
</html>